
cSourceCode/.cproject
cSourceCode/.project

cSourceCode/.settings/
cSourceCode/Release/*
..gitignore.swp

cSourceCode/cSourceCode.atsln
cSourceCode/cSourceCode.componentinfo.xml
cSourceCode/cSourceCode.cproj
cSourceCode/.vs/*
cSourceCode/Debug/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
